<div class="container mt-3">
  <div class="list-group">
    <div class="list-group-item list-group-item-action d-flex justify-content-between" (click)="open(talk)" *ngFor="let talk of talks">
      {{ talk.title }}
      <small>{{ talk.date | date: 'dd.MM.yyy' }}</small>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg border-top fixed-bottom navbar-light bg-light">
  <div class="container">
    <form [formGroup]="talkForm" class="input-group">
      <input type="text" class="form-control" formControlName="title" placeholder="Title" aria-label="Title" aria-describedby="talk-button">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" [disabled]="!talkForm.valid" (click)="start()" type="button" id="talk-button">Talk</button>
      </div>
    </form>
  </div>
</nav>