<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container">
    <a class="btn btn-sm btn-info" routerLink="/">Back</a>
  </div>
</nav>

<div class="container mt-3" *ngIf="talk && !talk.closed">
  <h4>{{ talk.title }}</h4>
  <form [formGroup]="heckleForm">
    <textarea class="mt-2 form-control input h-75" rows="6" formControlName="message" id="message" type="text"></textarea>
    <button class="btn btn-primary btn-block mt-4" (click)="heckle()" [disabled]="heckleForm.invalid">Heckle Talk</button>
  </form>
</div>

<div class="container mt-3">
  <div *ngIf="talk && talk.closed" class="alert alert-warning" role="alert">
    The talk has been closed!
  </div>
</div>