<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container">
    <a class="btn btn-sm btn-info" routerLink="/">Back</a>
  </div>
</nav>

<div class="container mt-3" *ngIf="talk">
  <h4>{{ talk.title }}</h4>
  <form [formGroup]="heckleForm">
    <textarea class="mt-2 form-control input h-75" rows="10" formControlName="message" id="message" type="text"></textarea>
    <button class="btn btn-primary btn-block mt-4" (click)="heckle()" [disabled]="talk.closed">Heckle Talk</button>
  </form>
</div>