<div class="container mt-3">
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label class="small" for="email" translate>Email</label>
      <input class="form-control" formControlName="email" id="email">
    </div>
    <div class="form-group">
      <label class="small" for="password" translate>Password</label>
      <input class="form-control" formControlName="password" type="password" id="password">
    </div>
    <button class="btn btn-primary btn-block mt-4" [disabled]="!loginForm.valid" (click)="login()">Login</button>
  </form>
</div>
